// COLORS
$color-primary-1: #AE7111;
$color-primary-2: #FBE28A;
$color-primary-3: #FFE45B;
$color-primary-4: #FFEF7C;

$color-gray-light-1: #999999;
$color-gray-light-2: #6C6C6C;
$color-gray-light-3: #676767;
$color-gray-light-4: #3F3F3F;
$color-gray-light-5: #4C4C4C;
$color-gray-light-6: #8A8A8A;
$color-gray-light-7: #545454;
$color-gray-light-8: #8E8E8E;
$color-gray-light-9: #C8C8C8;
$color-gray-light-10: #FAFAFA;

$color-gray-dark-1: #090909;
$color-gray-dark-2: #101010;

$color-black: #000;
$color-white: #fff;