.together {
    padding: 16rem 0;
    
    @include respond(tab-land) {
        padding: 4rem 0;
    }
    
    &__wrap {
        display: flex;
        align-items: center;
        gap: 12rem;
        
        @include respond(tab-land) {
            flex-direction: column;
            align-items: stretch;
            gap: 4rem;
        }
    }
    
    &__item {
        .heading-secondary {
            max-width: 48.1rem;
            width: 100%;
        }
        
        .paragraph-big,
        .paragraph-small {
            max-width: 58.4rem;
            width: 100%;
        }
    }
}

.acquire {
    padding: 16rem 0;
    background-color: $color-black;
    
    @include respond(tab-land) {
        padding: 4rem 0;
    }
    
    &__wrap {
        
        img {
            max-width: 99.5rem;
            margin-left: auto;
        }
    }
}

.join {
    padding: 16rem 0;
    
    @include respond(tab-land) {
        padding: 4rem 0;
    }
    
    &__wrap {
        text-align: center;
        
        .paragraph-big {
            color: $color-gray-light-1;
            max-width: 78.8rem;
            margin: 0 auto 5.6rem;
            
            @include respond(tab-land) {
                margin: 0 auto 2rem;
            }
        }
    }
    
    &__grid {
        display: flex;
        justify-content: space-between;
        max-width: 93.2rem;
        margin: 0 auto;
        
        @include respond(tab-land) {
            flex-direction: column;
            gap: 3.2rem;
        }
    }
    
    &__item {
        
        h5 {
            background-image: linear-gradient(90deg, $color-primary-1 0%, $color-primary-2 89.44%, $color-primary-3 145.3%, $color-primary-4 213.62%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            font-size: 6.4rem;
            font-weight: 600;
            line-height: 7.04rem;
            margin-bottom: 2.4rem;
            
            @include respond(tab-land) {
                font-size: 4.8rem;
                line-height: 5.28rem;
            }
        }
        
        p {
            color: $color-black;
            text-align: center;
            font-size: 2rem;
            line-height: 3.2rem;
            
            @include respond(tab-land) {
                font-size: 1.6rem;
                line-height: 2.56rem;
            }
        }
    }
}

.empowering {
    background-color: $color-gray-dark-1;
    padding: 16rem 0;
    
    @include respond(tab-land) {
        padding: 4rem 0;
    }
    
    &__wrap {
        
        .heading-secondary {
            color: $color-white;
            max-width: 70rem;
            width: 100%;
        }
    }
    
    &__accordion {
        max-width: 98.6rem;
        width: 100%;
        margin: 6rem auto 0;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        
        @include respond(tab-land) {
            margin: 4rem auto 0;
        }
        
        &__item {
            background-color: $color-gray-dark-2;
            border: .1rem solid transparent;
            transition: border .2s linear;
            
            &:hover,
            &.active {
                border: .1rem solid rgba($color-primary-1, .5);
            }
        }
        
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 3.2rem;
            
            @include respond(tab-land) {
                align-items: flex-start;
                padding: 2rem;
            }
            
            &.active {
                .empowering__accordion__header__icon {
                    transform: rotate(45deg);
                }
            }
            
            &__info {
                display: flex;
                align-items: center;
                gap: 3.2rem;
                
                @include respond(tab-land) {
                    flex-direction: column;
                    align-items: stretch;
                    gap: 1.6rem;
                }
                
                img {
                    max-width: 4.5rem;
                }
            }
            
            &__text {
                h5 {
                    color: $color-white;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.54rem;
                    letter-spacing: 0.35rem;
                    text-transform: uppercase;
                    margin-bottom: .8rem;
                    
                    @include respond(tab-land) {
                        font-size: 1rem;
                        line-height: 1.1rem;
                        letter-spacing: 0.25rem;
                    }
                }
                
                h4 {
                    font-family: "Montserrat", sans-serif;
                    color: $color-white;
                    font-size: 3.2rem;
                    font-weight: 900;
                    line-height: 3.68rem;
                    margin: 0;
                    
                    @include respond(tab-land) {
                        font-size: 2rem;
                        line-height: 2.3rem;
                    }
                }
            }
            
            &__icon {
                transition: transform .3s ease-out;
                
                svg {
                    display: block;
                }
            }
        }
        
        &__collapse {
            overflow: hidden;
            max-height: 0;
            transition: max-height .3s ease-out;
            
            p {
                padding: 0 3.2rem 3.2rem;
                color: $color-gray-light-6;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 2.56rem;
                margin: 0;
                
                @include respond(tab-land) {
                    padding: 0 2rem 2rem;
                    font-size: 1.4rem;
                    line-height: 2.24rem;
                }
            }
        }
    }
}

.start {
    padding: 16rem 0;
    
    @include respond(tab-land) {
        padding: 4rem 0;
    }
    
    &__wrap {
        display: flex;
        align-items: center;
        gap: 12rem;
        
        @include respond(tab-land) {
            flex-direction: column;
            align-items: stretch;
            gap: 2rem;
        }
    }
    
    &__item {
        
        &:first-child {
            max-width: 53.2rem;
            width: 100%;
            
            @include respond(tab-land) {
                max-width: unset;
            }
        }
        
        .paragraph-mid {
            color: $color-gray-light-4;
            font-weight: 400;
            line-height: 2.7rem;
            margin-bottom: 3.2rem;
            
            @include respond(tab-land) {
                line-height: 2.24rem;
            }
        }
    }
    
    &__buttons {
        display: flex;
        gap: 2rem;
        
        @include respond(phone) {
            flex-direction: column;
            gap: 1.6rem;
        }
        
        .btn {
            width: 100%;
            white-space: nowrap;
        }
    }
}

.home_blog {
    padding: 16rem 0;
    background-color: $color-gray-dark-1;
    
    @include respond(tab-land) {
        padding: 4rem 0;
    }
    
    &__wrap {
        
        .heading-secondary {
            color: $color-white;
            max-width: 68.6rem;
            width: 100%;
            margin-bottom: 8rem;
            
            @include respond(tab-land) {
                margin-bottom: 4rem;
            }
        }
    }
    
    &__grid {
        display: flex;
        gap: 6.4rem;
        
        @include respond(tab-port) {
            flex-direction: column;
            gap: 3.2rem;
        }
    }
    
    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        &:hover {
            
            .header-gradient {
                color: transparent;
                
                &::after {
                    opacity: 1;
                }
            }
        }
        
        &__info {
            border-top: .1rem solid $color-gray-light-5;
            padding-top: 2rem;
            display: flex;
            justify-content: space-between;
            
            span {
                display: block;
                color: $color-gray-light-5;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 2.08rem;
            }
        }
    }
    
    &__more {
        margin-top: 8rem;
        text-align: center;
        
        .btn {
            display: inline-block;
        }
    }
}